
  <div class="row">
    <div class="col-md-1"><img src="{{ user.pic }}" /></div>
    <div class="col-md-11"><h2>Hi, {{user.displayName}}.</h2></div>
  </div>
  
  <div class="row">
    <div class="col-md-12"><p class="small">Tasks and polls will appear here when appropriate. Please keep this window open.</p></div>
  </div>
  
  <div class="row">
  
    <div class="col-md-8">
    
    <form action="">
    
      <div class="row">
        <div id="tasks" class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Current Task</h3></div>
            <div class="panel-body"><span id="current-task">No Task at This Time.</span></div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <textarea id="task" autocomplete="off" rows="10" cols="60" class="col-md-12"/></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" id="instructor-buttons">
          <button type="button" id="push-new-task" class="btn btn-success">Push Task</button>
          <button type="button" id="append-task" class="btn btn-success">Append to Current Task</button>
          <button type="button" id="clear-task" class="btn btn-success">Clear Task</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" id="save-task-box">
          <input type="checkbox" id="saveTask" />Save Task
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Saved Tasks</h3></div>
            <div class="panel-body">

              <div class="list-group" id="saved-tasks">
              {{#each tasks}}
                  <button type="button" class="list-group-item saved-task" id="task-{{taskId}}" onClick="pushTask({{taskId}}); return false;">{{taskText}}</button>
              {{/each}}
              </div>

            </div>
          </div>
        </div>
      </div>
  
    </form>
    
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Attendees</h3></div>
        <div class="panel-body" id="attendees-list">None</div>
      </div>
    </div>
    
  </div>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/buzzr.js"></script>
  <script>
    var instructorid = '{{user.id}}';
    
    // Join the instructor channel
    socket.on('connect', function() {
      socket.emit('instructor-joined', {}, function(attendees, currentTask) {

        // Update the attendees list
        updateAttendees(attendees);

        // Set the current task
        if (!$.isEmptyObject(currentTask))
          $('#current-task').html(currentTask);
      });
    });
  </script>
  
